
.client-logo {
    width: 60px;
    height: 40px;
    position: relative;
    
}

.client {
    background: rgba(48, 47, 47, 0.591); /* Blue to purple gradient background */
    width: 180px;
    height: 70px;
    border: 2px solid transparent;
    display: flex;
    margin-right: 20px;
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; /* Add border transition */
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    border-radius: 15px;
  }

  .client::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(90deg, #3498db, #9b59b6); /* Blue to purple gradient border */
    z-index: -1;
    transition: transform 0.3s ease; /* Add a slight transform on hover */
    opacity: 0; /* Initially invisible */
  }

  .client:hover {
    border-image: linear-gradient(90deg, #3498db, #9b59b6); /* Blue to purple gradient border */
    border-image-slice: 1; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow on hover */
    background-color: transparent;
    opacity: 1;
    border-radius: 15px;
  }
.client a {
    position: relative;
    text-decoration: none;
    color: #fff;
    right: 15px;
    font-weight: 14px;
}

.happy-clients {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    top: 50px;
    align-items: center;
    right:3%;
    
}

.happy-header {
    position: relative;
    bottom: 100px;
}

.happy-clients h2 {
  text-align: center;

}

.clients-title {
    position: relative;
    bottom: 100px;
    color: #fff;
    lefT: 22%;

}

@media screen and (max-width: 1080px) {

  .happy-clients {
    width: 710px !important;
    position: relative;
    right: 3%;
  }

  .client {
    width: 500px !important;
    position: relative;
    right: 3%;
  }
  .client a {

    position: relative;
    right: 2%;
  }

  .client-image img {
    position: relative;

    right: 3%;
  }

  .clients-title {
    text-align: center;
    position: relative;
    float: left;
    margin: 0 auto;
    left:45% !important;
  }
}

@media screen and (max-width: 490px) {
  .happy-clients {
    position: relative;
    left: 43px;

  }

  .client {
    width: 500px !important;
  }
  .client-logo {
    left: - 12px;
  }

  .client a {
    left: -12px;
  }
}

@media screen and (max-width: 720px) {
  .happy-clients {
    left: -30px !important;
  }
}